
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

/* header */


.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #368fef;
}
.main-tittle h3{
  font-size: 2em;
  color: #ffffff;
}
.navbar button, input{
  padding: 5px 15px;
  border-radius: 10px;
  border: 0px solid;
}
.navbar input{
  outline: none;
}
.navbar a{
  text-decoration: none;
  color: #368fef;

}
.navbar a:hover{
  color: #ffffff;
}
.navbar button{
  transition: all 0.8s ease;
 

}
.navbar button:hover{
  background-color: #368fef;
  border: 1px solid rgb(255, 255, 255);
}
.navbar i{
margin-left: 2em;
font-size: 1em;
color: #ffffff;
}
.navbar i:hover{
  color: #000000;
}
.the-lister h3{
  padding-left: 2em;
}
 

/* middle */



.middle-one{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

  .card{
    width: 15em;
    height: 23em;
    display: grid;
    grid-template-rows: 11em 11em;
    border-radius: 20px;      
    transition: .4s;
    border: 1px solid grey;
    

  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
  }
  
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: #368fef;
  }
  .card__img img{
    border-radius: 20px 20px 0px 0px;
  }
  
  .card__descr-wrapper {
    padding: 10px;
    display: grid;
  }
  
  .card__title {
    color: #323232;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    margin: 0;
  }
  
  .card__descr {
    color: #323232;
    list-style:square;
    font-size: 14px;
  }  

  .card__links {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
  }
  
  .card__links .link {
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: .4em .9em;
    background-color: #368fef;
    border-radius: 5px;

  }
  
  .card__links .link:hover {
    text-decoration: underline;
  }




  /* footer */

  
  
  .footers{
    margin-top: 1em;
    padding: 2em;
    background-color: #368fef;
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .social{
    letter-spacing: .7em;
  }
  