@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  display: grid;
  place-items: center;
  font-family: "Quicksand", sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  height: 100vh;
}

/* header */
main {
  /* padding: 1em 2em; */
  /* border: 1px solid red;
  height: 90%;
  width: 90%;
  overflow: scroll; */
  /* background-color: white; */
  background-color: #4d5dfb;
  width: 85%;
  overflow: scroll;
  border: 1px solid gray;
  max-height: 85%;
  border-radius: 15px;
  box-shadow: 3px 8px 30px rgba(0, 0, 0, .3);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 4em;
  align-items: center;
  background-color: #4d5dfb;
  /* background-image: linear-gradient(12deg, #4d5dfb 31%, #08c8f6 70%); */
  height: 5em;
}
.main-tittle h3 {
  font-size: 1em;
  color: #ffffff;
}

.navbar a {
  text-decoration: none;
  color: #368fef;
}
.navbar a:hover {
  color: #ffffff;
}

.doctor-patients {
  margin-left: 18em;
}
.navigations a {
  color: white;
  margin-inline: 1em;
}

.challenges {
  background-color: #4d5dfb;
  padding-bottom: 2em;
  opacity: .9;
}
.challenges #title {
  text-align: center;
  font-size: 1.4rem;
  /* border: 1px solid red; */
  color: white;
}
.allinone {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  /* margin: 2em 0.5em; */
}

.card {
  width: 40%;
  padding-inline: 1em;
  height: 5em;
  border: 1px solid gray;
  background-color: white;
  /* background-image: linear-gradient(to right, #368fef, #62a2ef, #a4c3e9, #ccdaec, #dae4f0); */
  /* background-image: linear-gradient(
    to right,
    #08c8f6,
    #32d4fa,
    #5ddcf9,
    #8ee8fd,
    #d9f8ff
  ); */
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(10px); */
  transition: 0.5s;
}

.card:hover {
  cursor: pointer;
  border: 1px solid black;
  transform: scale(1.02);
}

img {
  width: 3em;
  height: 3em;
  margin-bottom: 0;
  border-radius: 50%;
  object-fit: cover;
  background: linear-gradient(#d7cfcf, #9198e5);
  border: 3px solid purple;
}
.img {
  /* border: 2px solid red; */
  height: fit-content;
}
.img p {
  margin: 0;
}

.card p {
  color: black;
}

.card sub {
  color: #643737;
}
.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: "Poppins" sans-serif;
}

.textContent {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  gap: 3px;
  align-items: center;
  color: #292929;
  margin-left: 0.51em;
  /*   display:flex;
   border: 1px solid red; 
justify-content: space-around;
 */
}

.h1 {
  font-size: 16px;
  font-weight: bold;
}

.h1:second-child span {
  font-size: 10px;
}

.p {
  font-size: 12px;
  font-weight: lighter;
}
.btn {
  padding: 0.6em 0em;
  background-color: #368fef;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover {
  color: #368fef;
  background-color: #ffffff;
}

/* footer */
.footer {
  position: relative;
}

.footers {
  margin-top: 1em;
  padding: 2em;
  /* background-color: #368fef; */
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.social {
  letter-spacing: 0.7em;
}
.fa-brands:hover {
  color: #000000;
}

@media (max-width: 720px) {
  body {
    margin: 0;
    padding: 0;
  }
  main {
    margin: 0;
    padding: 2em 0;
    width: 100%;
    min-height: 100%;
    position: relative;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 1em 0;
    z-index: 99;
    border-bottom: 2px solid white;
    /* box-shadow: 3px 5px 18px rgba(255, 255, 255, 0.2); */
    /* box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2); */
  }
  .navbar a{
    margin-inline: .6em;
  }
  .challenges {
    margin: 7.1em 0 0 0;
    padding: 0.5em 2em;
    background-color: white;
  }
  .challenges #title{
    color: black;
  }
  .allinone {
    flex-direction: column;
    /* margin-inline: 1em; */
  }
  .card {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 0em;
    padding-inline: 0;
  }
  .card img{
    margin-left: .8em;
  }
}

@media (max-width: 1100px) {
  body {
    /* height: 100vh; */
  }
  main {
    /* height: 90%; */
    /* background-color: green; */
  }
  .navbar{
    /* border: 1px solid red; */
    
  }
  .navbar a{
    font-size: .7rem;
  }
  #title{
    margin-top: 0;
  }
  .card{
    height: 3em;
    padding: .5em 0;
    /* background-color: green; */
  }
  .card button{
    font-size: .7rem;
    
  }
  .card p{
    font-size: .8rem;
  }
  .card sub{
    font-size: .7em;
  }
  .card img{
    height: 2em;
    width: 2em;
  }
}
